* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  width: 100%;
  height: 50px;
  background-color: #fff;
  box-shadow: 0 1px 3px #aaa;
  font-family: "Microsoft YaHei UI", sans-serif;
  position: fixed;
  z-index: 10;
}
body {
  background-color: #eee;
  min-width: 765px;
}
.clearfix:before,
.clearfix:after {
  content: "";
  clear: both;
  display: table;
}
